APP_NAME=JiraLite
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DATABASE_URL=postgresql+psycopg://jiralite_user:change_me@localhost:5432/jiralite

SECRET_INTERNAL_API_TOKEN=
DEFAULT_PROJECT_KEY=TEST

LOG_LEVEL=INFO